<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="{{ url_for}}" method="POST">
      <label for="username">Username:</label> <input
        type="text"
        id="username"
        name="username"
        required
      /><br /><br />
      <label for="password">Password:</label> <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <input type="submit" value="Login" /> 
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li class="{% if message.category == 'success' %}success{% elif message.category == 'error' %}error{% endif %}">
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
